<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>134776530511-q3dqmiergndslqd4jei5foejh2bb6sgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134776530511-q3dqmiergndslqd4jei5foejh2bb6sgd</string>
	<key>API_KEY</key>
	<string>AIzaSyDc_L6UxwX-445SDC-GmQ95tWMVWI75hiM</string>
	<key>GCM_SENDER_ID</key>
	<string>134776530511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiler.screamtracker</string>
	<key>PROJECT_ID</key>
	<string>screamtracker-4bc59</string>
	<key>STORAGE_BUCKET</key>
	<string>screamtracker-4bc59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134776530511:ios:85058ca931e2417e</string>
	<key>DATABASE_URL</key>
	<string>https://screamtracker-4bc59.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8857410705016797~8529420774</string>
</dict>
</plist>